.buttons {
    margin: 3%;
    padding: 0;
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center ; */
}

.cart-button {
    position: relative;
    outline: 0;
    background-color: rgb(206, 206, 49);
    color: #fff;
    border: none;
    height: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    line-height: 0px;
    overflow: hidden;
    cursor: pointer
}

.cart-button:focus {
    outline: none !important
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20%;
    font-size: 1.8em;
    transform: translate(-50%, -50%)
}

.cart-button .fa-square {
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 53%;
    font-size: 0.8em;
    transform: translate(-50%, -50%)
}

.cart-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%)
}

.cart-button span.added {
    opacity: 0
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 1s ease-in forwards
}

.cart-button.clicked .fa-square {
    animation: box 1s ease-in forwards
}

.cart-button.clicked span.add-to-cart {
    animation: addcart 1s ease-in forwards
}

.cart-button.clicked span.added {
    animation: added 1s ease-in forwards
}

@keyframes cart {
    0% {
        left: -10%
    }

    40%,
    60% {
        left: 50%
    }

    100% {
        left: 110%
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%
    }

    60% {
        top: 36%;
        left: 53%
    }

    100% {
        top: 40%;
        left: 112%
    }
}

@keyframes addcart {

    0%,
    30% {
        opacity: 1
    }

    30%,
    100% {
        opacity: 0
    }
}

@keyframes added {

    0%,
    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

input#pwd {
    /* width:180px;  */
    padding:3px;
    color: #000;
    float:left;
    margin-right:10px;
}
#pwd_strength_wrap {
    border: 1px solid #D5CEC8;
    display: none;
    float: left;
    padding: 10px;
    /* position: relative; */
    width: 320px;
}
#pwd_strength_wrap:before, #pwd_strength_wrap:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent; /* arrow size */
}
#pwd_strength_wrap:before {
border-bottom: 7px solid rgba(0, 0, 0, 0);
border-right: 7px solid rgba(0, 0, 0, 0.1);
border-top: 7px solid rgba(0, 0, 0, 0);
content: "";
display: inline-block;
left: -18px;
position: absolute;
top: 10px;
}
#pwd_strength_wrap:after {
    border-bottom: 6px solid rgba(0, 0, 0, 0);
border-right: 6px solid #fff;
border-top: 6px solid rgba(0, 0, 0, 0);
content: "";
display: inline-block;
left: -16px;
position: absolute;
top: 11px;
}
#pswd_info ul {
    list-style-type: none;
    margin: 5px 0 0;
    padding: 0;
}
#pswd_info ul li {
    background: url(icon_pwd_strength.png) no-repeat left 2px;
    padding: 0 0 0 20px;
}
#pswd_info ul li.valid {
    background-position: left -42px;
    color: green;
}
#passwordStrength {
display: block;
height: 5px;
margin-bottom: 10px;
transition: all 0.4s ease;
}
.strength0 {
background: none; /* too short */
width: 0px;
}
.strength1 {
background: none repeat scroll 0 0 #FF4545;/* weak */
width: 25px;
}
.strength2 {
background: none repeat scroll 0 0 #FFC824;/* good */
width: 75px;
}
.strength3 {
    background: none repeat scroll 0 0 #6699CC;/* strong */
width: 100px;
}

.strength4 {
    background: none repeat scroll 0 0 #008000;/* best */
width: 150px;
}