<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active">Forgot password</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Error 404 Area Start -->
<div class="error404-area pt-30 pb-60">
    <div class="col-lg-4 offset-lg-4 col-md-12 order-1 order-lg-2">
        <form action="/forgot-password" method="post">
            <div class="notification-background">
                <div class="error-text">
                    <br>
                    {{#if resetPasswordLink}}
                        <div class="text-center" style="color:red;"><h6>A verification code sent to your email.</h6></div>
                    {{/if}}
                    <br>
                    <h2 class="text-center">Forgot password</h2>
                    <br>
                    <br>
                    <div class="text-center"><h6>Please type in the email</h6></div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <input type="email" name="email" class="form-control"
                                   placeholder="Enter your email" value="">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="mt-5 text-center">
                        <button type="submit" class="btn btn-primary profile-button">Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>